# Forecasting prices

## Overview

Train several models to see what's the better performance.

Models:
* Decision Tree Regresion
* KNN
* Bagging
* Boosting

## Import libraries

In [5]:
import datetime as dt
import os
import pandas as pd
import numpy as np
import csv

# Sklearn
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Add plotly for interactive charts
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)
import plotly.plotly as py
import plotly.graph_objs as go
from plotly import tools

## Initial variables

In [6]:
symbol = "AABA"

## Reading data from CSV file

In [7]:
# Get values from cvs file
filename = "data/" + symbol + ".csv"
portf_value = pd.read_csv(filename, sep=",", header=None)

In [8]:
# Normalize the prices Dataframe
normed = portf_value.copy()

In [9]:
normed['date'] = portf_value.index
normed.set_index('date', inplace=True)

normed.columns.values[1] = symbol

# Convert price column to float
normed[symbol] = pd.to_numeric(normed[symbol], errors='coerce').fillna(0)

In [10]:
normed.info()
normed.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128 entries, 0 to 127
Data columns (total 2 columns):
0       128 non-null object
AABA    128 non-null float64
dtypes: float64(1), object(1)
memory usage: 3.0+ KB

               0       AABA
date
0           date   0.000000
1     2018-07-09  75.610001
2     2018-07-10  75.970001
3     2018-07-11  73.760002
4     2018-07-12  74.610001

## Getting indicator values

In [14]:
# Momentum
price = normed[symbol]
window = 10
momentum = pd.Series(np.nan, index=price.index)
momentum.iloc[window:] = (price.iloc[window:] / price.values[:-window]) - 1

In [15]:
# Rolling Mean
rolling_mean = price.rolling(window).mean()

In [16]:
# SMA
sma = price / rolling_mean - 1

In [17]:
# RSI
def get_RSI(prices, n=14):
    deltas = np.diff(prices)
    seed = deltas[:n+1]
    up = seed[seed>=0].sum()/n
    down = -seed[seed<0].sum()/n
    rs = up/down
    rsi = np.zeros_like(prices)
    rsi[:n] = 100. - 100./(1.+rs)

    for i in range(n, len(prices)):
        delta = deltas[i-1] # cause the diff is 1 shorter
        if delta>0:
            upval = delta
            downval = 0.
        else:
            upval = 0.
            downval = -delta
        up = (up*(n-1) + upval)/n
        down = (down*(n-1) + downval)/n
        rs = up/down
        rsi[i] = 100. - 100./(1.+rs)
    return rsi

rsi = get_RSI(price)

# Clean nan values
normed = normed.fillna(0)

# Sort dataframe by index
normed.sort_index()

               0       AABA
date
0           date   0.000000
1     2018-07-09  75.610001
2     2018-07-10  75.970001
3     2018-07-11  73.760002
4     2018-07-12  74.610001
5     2018-07-13  74.480003
6     2018-07-16  74.660004
7     2018-07-17  75.360001
8     2018-07-18  74.660004
9     2018-07-19  73.360001
10    2018-07-20  73.269997
11    2018-07-23  73.150002
12    2018-07-24  74.150002
13    2018-07-25  77.529999
14    2018-07-26  76.190002
15    2018-07-27  74.099998
16    2018-07-30  72.389999
17    2018-07-31  73.449997
18    2018-08-01  73.180000
19    2018-08-02  72.089996
20    2018-08-03  71.580002
21    2018-08-06  70.889999
22    2018-08-07  71.500000
23    2018-08-08  70.989998
24    2018-08-09  70.489998
25    2018-08-10  70.970001
26    2018-08-13  70.199997
27    2018-08-14  68.150002
28    2018-08-15  67.040001
29    2018-08-16  68.139999
...          ...        ...
98    2018-11-23  62.400002
99    2018-11-26  64.370003
100   2018-11-27  64.160004
101   2018-11-28  65.430000
102   2018-11-29  64.419998
103   2018-11-30  65.589996
104   2018-12-03  66.820000
105   2018-12-04  64.800003
106   2018-12-06  63.860001
107   2018-12-07  63.009998
108   2018-12-10  62.230000
109   2018-12-11  62.570000
110   2018-12-12  62.820000
111   2018-12-13  62.759998
112   2018-12-14  62.009998
113   2018-12-17  60.080002
114   2018-12-18  59.119999
115   2018-12-19  57.700001
116   2018-12-20  56.709999
117   2018-12-21  55.650002
118   2018-12-24  55.709999
119   2018-12-26  57.900002
120   2018-12-27  57.970001
121   2018-12-28  58.349998
122   2018-12-31  57.939999
123   2019-01-02  57.490002
124   2019-01-03  55.529999
125   2019-01-04  58.720001
126   2019-01-07  59.639999
127   2019-01-08  61.040001

[128 rows x 2 columns]